* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4; /* Color de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse; /* Elimina el espacio entre bordes */
    margin-bottom: 20px; /* Espacio debajo de la tabla */
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ccc; /* Borde de las celdas */
}

th {
    background-color: #32be8f; /* Color de fondo del encabezado */
    color: white; /* Color del texto del encabezado */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo para filas pares */
}

tr:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el mouse */
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(to right, #32be8f,#fdaa4a, #c6ec4e, #32be8f);
    background-size: 200%;
    color: white;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-position 0.5s;
}

button:hover {
    background-position: right; /* Efecto hover para el botón */
}